[Asset]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[BIReport]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[BattleNet]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Ben]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Bob]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Cameron]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[ConfigFile]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[DbfXml]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Downloader]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[EventTiming]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[FaceDownCard]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[FullScreenFX]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[GameMgr]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Hand]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[HealthyGaming]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[InnKeepersSpecial]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[JMac]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Kyle]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[LoadingScreen]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Mike]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Net]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[PlayErrors]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Power]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Rachelle]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[UpdateManager]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Yim]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

[Zone]
LogLevel=1
FilePrinting=false
ConsolePrinting=true
ScreenPrinting=false

